<div class="container">

  <div class="d-flex justify-content-between">
    <div >
      <h3>
      ARTICLES
    </h3>
    </div>
    
    <div >
      <div class="mr-2">
        <form class="form-inline my-2 my-lg-0" #findArticleForm = "ngForm" (ngSubmit)="findArticle()">
          <input class="form-control mr-sm-2" type="text" name="description" [(ngModel)]="description" placeholder="search in articles">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>  
    </div>
  </div>
  <hr>  

  <div *ngFor="let article of articles, let i = index" [attr.data-index]="i" >
    
    <div class="card d-flex flex-column md-4 ">
      <div class="card-header">
        Result {{i + 1}}
      </div>
      <div class="card-body" >
        <h5 class="card-title">{{article.name}}</h5>
        <div style="overflow-y: scroll; height: 300px">
          <p class="card-text">{{article.transcript}}</p>
        </div>
        <hr>
        <a href="#" class="btn btn-primary md-2">Add to favourite</a>
      </div>
    </div>

</div>
