<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    

    
    
    
    <ul class="nav">
      <div>
        <a class="navbar-brand" routerLink="/home">Wisdom Browser</a>
      </div>
      <li class="nav-item">
        <a class="nav-link" routerLink="articles">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="videos">Videos</a>
    </ul>
   
    
    <div>
        <div *ngIf="!isUserLogged" class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-basic">
          Join in <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" routerLink="register"><i class="fa fa-sign-in"></i> Register</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="login"><i class="fa fa-sign-in"></i> Log in</a>
          </li>
        </ul>
      </div>

      <div *ngIf="isUserLogged" class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-basic">
          Welcome User <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" (click)="loggedOut()" href="#"><i class="fa fa-sign-out"></i> Log out</a>
          </li>
        </ul>
      </div>
    </div>
    

<!--
    <div *ngIf="!isUserLogged" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Join in
      </a>
  
      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item" routerLink="register"> Register</a>
        <a class="dropdown-item" routerLink="login"> Log in</a>        
      </div>
    </div>
    
    <div *ngIf="isUserLogged" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome
      </a>
  
      <div class="dropdown-menu" *dropdownMenu>     
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="loggedOut()" href="#"><i class="fa fa-sign-out"></i> Log out</a>
      </div>
    </div>
-->
    <ng-template #template>
      <app-login-form></app-login-form>
    </ng-template>
<!--
    <form
      *ngIf="!loggedIn()"
      #loginForm="ngForm"
      class="form-inline my-2 my-lg-0"
      (ngSubmit)="login()"
    >
      <input
        class="form-control mr-sm-2"
        type="text"
        name="login"
        placeholder="Login"
        required
        [(ngModel)]="model.login"
      />
      <input
        class="form-control mr-sm-2"
        type="password"
        name="password"
        placeholder="Password"
        required
        [(ngModel)]="model.password"
      />
      <button
        [disabled]="!loginForm.valid"
        class="btn btn-success my-2 my-sm-0"
        type="submit"
      >
        Login
      </button>
    </form>
-->    
  </div>
  
</nav>
