<div class="container">
  <div class="d-flex justify-content-between">
    <div >
      <h3>
        VIDEOS
      </h3>
    </div>

    <div>
      <div class="mr-2">
        <form class="form-inline my-2 my-lg-0" #findVideoForm = "ngForm" (ngSubmit)="findVideo()">
          <input class="form-control mr-sm-2 form-control-dark w-60" type="text" name="description" [(ngModel)]="description" placeholder="search in videos">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
  <hr>  
 
  <br>
  <div>
    <div *ngFor="let video of videos">
    
      <div class="card d-flex flex-column">
        <div class="card">
          <iframe class="card-img-top" height="300"
            [src]='bypassSecurityTrustResourceUrl(urlAdaptToDisplay(video.youTubeUrl))' frameborder="0"
            allowfullscreen></iframe>
          <div class="card-body">
            <h5 class="card-title">{{video.youTubeTitle}}</h5>
            <p class="card-text">Speaker: {{video.speaker}}</p>
            <p class="card-text">Bio: {{video.speakerBio}}</p>
            <p class="card-text">Desc: {{video.talkDesc}}</p>
          </div>
          <hr>
          <div>
            <div class="float-left ml-md-2 mb-md-3">
              <button class="btn btn-light" (click)="addVideo(video.youTubeTitle, video.youTubeID)">Add to favourite</button>
            </div>
            <div class="float-right mr-2">
              <a class="card-text" href="{{video.speaker_url}}">source link: {{video.speaker_url}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





</div>


